name: Check

on:
  pull_request:
    branches: [main]

permissions:
  contents: read
  pull-requests: write

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'npm'

      - run: npm install

      - run: npm run check

      - name: Check For Changes
        id: check_changes
        shell: bash
        env:
          GH_TOKEN: ${{ github.token }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
        run: |
          git config core.fileMode false
          git add . --renormalize

          if ! git diff --exit-code -w --ignore-submodules; then
            echo "❌ Changes detected in the following files:"
            git status --porcelain
            
            echo -e "\n--- Detailed Diff ---"
            git diff -w
            
            exit 1
          else
            echo "✅ No changes detected."
            exit 0
          fi